In [38]:
#importing modules
import pandas as pd

#loading csv
file = "Resources/purchase_data.csv"

#reading and storing 
df = pd.read_csv(file)
#df.tail() to make sure it works

In [37]:
#player count
playercount = len(df["SN"].value_counts())
playercountdf = pd.DataFrame({"Total Players":[playercount]})
playercountdf

   Total Players
0            576

In [82]:
#purchasing analysis (total)
uniqueitem = len(df["Item ID"].value_counts())
averageprice = df["Price"].mean()
numberpurchase = len(df["Purchase ID"].value_counts())
totalrevenue = df["Price"].sum()
totalanalysisdf = pd.DataFrame({"Number of Unique Items":[uniqueitem], 
                                "Average Price":[averageprice], 
                                "Number of Purchases":[numberpurchase], 
                                "Total Revenue":[totalrevenue]})
totalanalysisdf.style.format({"Average Price":"${:.2f}",
                              "Total Revenue": "${:,.2f}"})

In [95]:
#gender demographics
gender = df.groupby("Gender")
gendercount = gender.nunique()["SN"]
genderpercent = gendercount / playercount *100
genderdf = pd.DataFrame({"Total Count":gendercount,
                         "Percentage of Players":genderpercent})
genderdf.index.name = None
genderdf.sort_values(["Total Count"],ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

In [96]:
#purchasing analysis (gender)
purcount = gender["Purchase ID"].count()
avgpurprice = gender["Price"].mean()
totalpur = gender["Price"].sum()
avgtotalpur = totalpur/gendercount
genderanalysisdf = pd.DataFrame({"Purchase Count": purcount,
                                "Average Purchase Price": avgpurprice,
                                "Total Purchase Value": totalpur,
                                "Avg Total Purchase per Person": avgtotalpur})
genderanalysisdf.style.format({"Average Purchase Price":"${:.2f}",
                               "Total Purchase Value": "${:,.2f}",
                               "Avg Total Purchase per Person":"${:.2f}"})

In [100]:
#age demographics
bin = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,99.9]
agebin = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
df["Age Group"]= pd.cut(df["Age"],bin,labels=agebin)
groupbyage = df.groupby("Age Group")
totalagecount = groupbyage["SN"].nunique()
agepercent = (totalagecount/playercount) * 100
agedf = pd.DataFrame({"Total Count":totalagecount,
                     "Percentage of Players":agepercent})
agedf.index.name = None
agedf.style.format({"Percentage of Players":"{:.2f}%"})

In [113]:
#purchasing analysis (age)
agepurcount = groupbyage["Purchase ID"].count()
ageavgpurprice = groupbyage["Price"].mean()
agetotalpur = groupbyage["Price"].sum()
ageavgperson = agetotalpur/totalagecount
ageanalysisdf = pd.DataFrame({"Purchase Count":agepurcount,
                 "Average Purchase Price":ageavgpurprice,
                 "Total Purchase Value":agetotalpur,
                 "Avg Total Purchase per Person":ageavgperson})
ageanalysisdf.style.format({"Average Purchase Price":"${:.2f}",
                        "Total Purchase Value":"${:.2f}",
                        "Avg Total Purchase per Person":"${:.2f}"})